name: Test PR

on: [pull_request]

jobs:
  test_pr:
    name: Generate page
    runs-on: ubuntu-latest
    steps:
      - name: Install requirements
        run: |
          sudo apt install -y nodejs npm
          sudo npm install -g hexo-cli
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: debug
        run: |
          pwd
          ls -la
      - name: Prepar hexo
        run: |
          mkdir my_blog
          cd my_blog
          sudo hexo init
          mkdir themes/next
          sudo curl -s https://api.github.com/repos/theme-next/hexo-theme-next/releases/latest | grep tarball_url | cut -d '"' -f 4 | wget -i - -O- | tar -zx -C themes/next --strip-components=1
      - name: Copy my source
        run: |
          sudo cp -r source/ my_blog/
          sudo cp _config.yml my_blog/_config.yml
          sudo cp theme_config.yml my_blog/theme/next/_config.yml
      - name: Generate page
        run: |
          cd my_blog
          sudo hexo clean
          sudo hexo generate
