name: Test PR

on: [pull_request]

jobs:
  test_pr:
    name: Generate page
    runs-on: ubuntu-latest
    steps:
      - name: Install requirements
        run: |
          sudo apt install -y nodejs npm
          sudo npm install -g hexo-cli
      - name: Generate page
        run: |
          pwd
          ls -la
          # sudo hexo clean
          # sudo hexo generate
